services:
  - type: web
    name: sabzi-mandi-backend
    runtime: node
    branch: chirag
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
